<div class="header" *ngIf="showHeader">

  <!-- Zone gauche -->
  <div class="header-left">
    <img src="/assets/couronne.png" alt="couronne" class="logo-icon" />
    <span class="logo-text">Java & Dragon</span>
  </div>

  <!-- Zone centre -->
  <ul class="nav-menu">
    <li><a routerLink="/marketplace">Marketplace</a></li>
    <li><a routerLink="/community">Communauté</a></li>
    <li><a routerLink="/createsession">Créer Session</a></li>
    <li>
      <a routerLink="/home">
        <img src="/assets/masc.png" alt="Accueil" class="home-icon" />
      </a>
    </li>
    <li><a routerLink="/tools">Outils</a></li>
    <li><a routerLink="/createcharacter">Créer perso</a></li>
    <li><a routerLink="/mycharacters">Mes persos</a></li>
  </ul>

  <!-- Zone droite -->
  <div class="header-right">
    <button class="logout-btn" (click)="logout()">Déconnexion</button>
  </div>

</div>
