<nav class="header" *ngIf="showHeader">
  <ul>
    <!-- Player 
    <li *ngIf="role === 'Player'"><a routerLink="/createcharacter">Créer perso</a></li>
    <li *ngIf="role === 'Player'"><a routerLink="/mycharacters">Mes persos</a></li>-->

    <!-- GM 
    <li *ngIf="role === 'GM'"><a routerLink="/createsession">Créer Session</a></li>
    <li *ngIf="role === 'GM'"><a routerLink="/tools">Outils</a></li>-->

    <!-- Global -->
    <li><a routerLink="/">ACCUEIL</a></li>
    <li><a routerLink="/marketplace">Marketplace</a></li>
    <li><a routerLink="/community">Communauté</a></li>
    <li><a routerLink="/createsession">Créer Session</a></li>
    <li><a routerLink="/tools">Outils</a></li>
    <li><a routerLink="/createcharacter">Créer perso</a></li>
    <li><a routerLink="/mycharacters">Mes persos</a></li>
  </ul>
</nav>
