<div class="container">
    <h2>Liste des Personnages</h2>

    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>

    <ul *ngIf="characters.length > 0" class="character-list">
        <li *ngFor="let c of characters" class="character-item" (click)="goToCharacter(c.id)" style="cursor: pointer;">
            <strong>{{ c.name }}</strong><br>
            Race: {{ c.race }} <br>
            Rôle: {{ getRoleName(c.roleId) }}
        </li>
    </ul>

    <p *ngIf="characters.length === 0 && !errorMessage">Aucun personnage trouvé.</p>
</div>