<div class="container">
  <h2>Créer un personnage</h2>

  <!-- NOM -->
  <div class="form-group">
    <label for="name">Nom du personnage :</label>
    <input id="name" type="text" [(ngModel)]="character.name" class="form-control" placeholder="Entrez un nom" />
  </div>
  <!-- RACE -->
  <div class="form-group mt-3">
    <label for="race">Choisir une race :</label>
    <select [(ngModel)]="selectedRace" (ngModelChange)="onRaceChange($event)" class="form-control">
      <option *ngFor="let race of races" (click)="onRaceChange(race)">
        {{ race }}
      </option>
    </select>
  </div>
  <!-- ROLE -->
  <div class="form-group mt-3">
    <label for="role">Choisir un rôle :</label>
    <select id="role" class="form-control" [(ngModel)]="selectedRoleId" (change)="onRoleChange()">
      <option *ngFor="let role of roles" [value]="role.id">
        {{ role.name }}
      </option>
    </select>
  </div>

  <!-- STATS AFFICHÉES -->
  <div *ngIf="selectedRole" class="stats-container mt-4">
    <h3>Stats de base du {{ selectedRole.name }}</h3>
    <div class="stats">
      <div><strong>Force :</strong> {{ selectedRole.baseStats.strength }}</div>
      <div><strong>Dextérité :</strong> {{ selectedRole.baseStats.dexterity }}</div>
      <div><strong>Intelligence :</strong> {{ selectedRole.baseStats.intelligence }}</div>
      <div><strong>Sagesse :</strong> {{ selectedRole.baseStats.wisdom }}</div>
      <div><strong>Constitution :</strong> {{ selectedRole.baseStats.constitution }}</div>
      <div><strong>Charisme :</strong> {{ selectedRole.baseStats.charisma }}</div>
    </div>
  </div>

  <!-- BOUTON CREATION -->
  <button class="btn btn-primary mt-4" (click)="createCharacter()">Créer le personnage</button>

  <!-- MESSAGE -->
  <p class="text-success mt-3" *ngIf="successMessage">{{ successMessage }}</p>
</div>