.tools-container {
  height: 100vh; /* occupe toute la hauteur de la fenêtre */
  display: flex; /* flexbox pour centrer */
  flex-direction: column; /* empile le titre + boutons */
  justify-content: center; /* centre verticalement */
  align-items: center; /* centre horizontalement */
  backdrop-filter: blur(4px); /* flou derrière */
  overflow: hidden; /* empêche le scroll */
}
.tools-container h1 {
  margin-bottom: 30px;
  font-weight: bold;
  color: #333;
}

.btn-group-tools {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.btn-primary {
  background-color: #e68a3f;
  border: 2px solid #c96c23;
  border-radius: 8px;
  padding: 12px 24px;
  font-weight: bold;
  color: #fff;
  transition: background-color 0.3s, transform 0.2s;
}

.btn-primary:hover {
  background-color: #c96c23;
  transform: translateY(-3px);
}
