<h1>Se connecter</h1>

@if (loginError) {
<div class="alert alert-danger">Login ou mot de passe incorrect</div>
}

<form (ngSubmit)="connecter()" [formGroup]="userForm">
  <div class="mb-3 row">
    <label for="login" class="col-sm-2 col-form-label">login</label>
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        id="login"
        formControlName="login"
        [class.is-invalid]="loginCtrl.invalid && (loginCtrl.dirty || loginCtrl.touched)"
      />

      @if (loginCtrl.hasError('required')) {
      <div class="invalid-feedback">Le login est obligatoire</div>
      }
    </div>
  </div>

  <div class="mb-3 row">
    <label for="password" class="col-sm-2 col-form-label">Mot de passe</label>
    <div class="col-sm-10">
      <input
        type="password"
        class="form-control"
        id="password"
        formControlName="password"
        [class.is-invalid]="passwordCtrl.invalid && (passwordCtrl.dirty || passwordCtrl.touched)"
      />

      @if (passwordCtrl.hasError('required')) {
      <div class="invalid-feedback">Le mot de passe est obligatoire</div>
      } @else if (passwordCtrl.hasError('minlength')) {
      <div class="invalid-feedback">Le mot de passe doit faire 6 caractères minimum</div>
      }
    </div>
  </div>

  <div class="btn-group">
    <input
      type="submit"
      class="btn btn-success"
      [disabled]="userForm.invalid"
      value="Se connecter"
    />
    <a type="button" class="btn btn-primary" routerLink="/inscription">S'inscrire</a>
  </div>
</form>
